.gwy-field-array {
  .gwy-field-array-row {
    display: flex;
    .gwy-field-array-row-fields {
      flex: 1;
      > .gwy-form-field {
        padding-right: 10px;
      }
    }
    .gwy-field-array-row-remove {
      padding-left: 10px;
    }
  }
  .gwy-field-array-add {
    &:not(:first-child) {
      padding-top: 10px;
    }
  }
}
