.component-demo-area {
  border-bottom: 1px solid #dddddd;
  > li {
    padding: 10px;
    .props-input {
      padding-right: 5px;
      &.json-error {
        > textarea {
          border: 1px solid red;
        }
      }
    }
    .props-description {
      padding-left: 5px;
      overflow: auto;
      max-height: 430px;
    }
  }
}
