.time-range-area {
  display: flex;
  white-space: nowrap;
  vertical-align: middle;
  text-align: left;
  > * {
    display: inline-block;
    padding-right: 5px;
    line-height: 36px;
  }
  .time-range-split {
  }
  .time-range-start {
    flex: 1;
    min-width: 140px;
    > * {
      width: 100%;
    }
  }
  .time-range-end {
    flex: 1;
    min-width: 140px;
    > * {
      width: 100%;
    }
  }
}
